*{
	margin:  0;
	padding:  0;
	font-family: sans-serif;
}


::-webkit-scrollbar {
    width: 0.75em;
    height: 0.75em;
}
::-webkit-scrollbar-track {
    background-color: #546663;
    border-radius: 50vw;
}
::-webkit-scrollbar-thumb {
    background-color: #E0E2DB;
    border-radius: 100vw;
}
::-webkit-scrollbar-corner {
    background-color: #546663;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #546663;
    background-size: cover;
    background-position: center;
    overflow-y: scroll;
}
.banner{
    width: 100%;
    position: absolute;
    z-index: 99;
}

.navbar{
    width: 100%;
    top: 0;
    position: fixed;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #E0E2DB;
}

.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    display: block;
    padding: 10px;
    color: #546663;
    text-decoration: none;
    text-align: center;
}
.navbar ul li a:hover:not(.active){
    background-color: #b6b8ae;
    color: #E0E2DB;
    transition: 0.5s;
}
.navbar a.active{
    background-color: #546663;
    color: #E0E2DB;
} 

.buttonGridVImages{
    position: absolute;
    top: 75px;
    left: 65%;
    width: 400px;
    margin: 5px;
}
.buttonGridV{
    position: absolute;
    top: 75px;
    left: 65%;
    width: 400px;
}
.buttonGridV button{
    background-color: #e0e2db79;
    border: 3px solid #394644;
    padding: 10px 25px;
    color: #394644;
    cursor: pointer;
    width: 402px;
    height: 102px;
    display: block;
    text-decoration: none;
    margin: 3px;
    font-size: 15pt;
    transition-duration: 1s;
}
.buttonGridV button:hover{
    background-color: rgba(0, 0, 0, 0.212);
    color: #E0E2DB;
}


.buttonGridH{
    position: absolute;
    top: 395px;
    left: 65%;
    width: 420px;
    height: 200px;
}
.buttonGridH button{
    background-color: #e0e2db79;
    border: 3px solid #394644;
    padding: 10px 25px;
    color: #394644;
    cursor: pointer;
    width: 124px;
    height: 150px;
    display: inline-block;
    text-decoration: none;
    font-size: 15pt;
    margin: 4.9px;
    transition-duration: 1s;
}
.buttonGridH button:hover{
    background-color: rgba(0, 0, 0, 0.212);
    color: #E0E2DB;
}
#resume_title{
    color: #E0E2DB;
    top: 40px;
    position: absolute;
    width: 100%;
    text-align: center;
}
#resume_canv{
    color: #E0E2DB;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
}


#title{
    color: #E0E2DB;
    top: 40px;
    left: 2%;
    position: absolute;
    width: 60%;
}
#summary1{
    color: #E0E2DB;
    top: 155px;
    left: 2%;
    position: absolute;
    width: 60%;
}
#summary2{
    color: #E0E2DB;
    top: 100px;
    left: 2%;
    position: absolute;
    width: 60%;
}
#newtonsummary{
    color: #E0E2DB;
    top: 140px;
    left: 2%;
    position: absolute;
    width: 60%;
}
#summary3{
    color: #E0E2DB;
    top: 125px;
    left: 2%;
    position: absolute;
    width: 60%;
}

#list1{
    list-style: none;
    color: #E0E2DB;
    top: 220px;
    left: 5%;
    position: absolute;
}
#list1 ul{
    list-style: none;
}
#list1 ul li{
    padding: 3px;
}

#list1units{
    list-style: none;
    color: #E0E2DB;
    top: 243px;
    left: 22.5%;
    position: absolute;
}
#list1units ul{
    list-style: none;
}
#list1units ul li{
    padding: 3px;
}
#list2units{
    list-style: none;
    color: #E0E2DB;
    top: 243px;
    left: 33%;
    position: absolute;
}
#list2units ul{
    list-style: none;
}
#list2units ul li{
    padding: 3px;
}

#instructions1{
    color: #E0E2DB;
    top: 390px;
    left: 2%;
    position: absolute;
}

.form{
    position: absolute;
    top: 450px;
    left: 2%;
    width: 50%;
}
.form__label{
    font-size: 13pt;
    color: #E0E2DB;
    top: 0%;
}
.form__input{
    background: none;
    border: 2px solid #E0E2DB;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    font-size: 12pt;
    padding: 5px;
    bottom: 100%;
    left: 0%;
    color: #E0E2DB;
}
.form__input::placeholder{
    color: #E0E2DB;
    opacity: 50%;
}


.newton_form{
    position: absolute;
    top: 265px;
    left: 2%;
    width: 50%;
}
.newton_form__label{
    font-size: 13pt;
    color: #E0E2DB;
    top: 0%;
}
.newton_form__input{
    background: none;
    border: 2px solid #E0E2DB;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    font-size: 12pt;
    padding: 5px;
    bottom: 100%;
    left: 0%;
    color: #E0E2DB;
}
.newton_form__input::placeholder{
    color: #E0E2DB;
    opacity: 50%;
}

.newton_var_form{
    position: absolute;
    top: 300px;
    left: 2%;
    width: 100%;
}
.newton_var_form__label{
    font-size: 13pt;
    color: #E0E2DB;
    top: 0%;
}
.newton_var_form__input{
    background: none;
    border: 2px solid #E0E2DB;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    font-size: 12pt;
    padding: 5px;
    bottom: 100%;
    left: 0%;
    color: #E0E2DB;
}
.newton_var_form__input::placeholder{
    color: #E0E2DB;
    opacity: 50%;
}

.newton_iter_form{
    position: absolute;
    top: 300px;
    left: 2%;
    width: 100%;
}
.newton_iter_form__label{
    font-size: 13pt;
    color: #E0E2DB;
    top: 0%;
}
.newton_iter_form__input{
    background: none;
    border: 2px solid #E0E2DB;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    font-size: 12pt;
    padding: 5px;
    bottom: 100%;
    left: 0%;
    color: #E0E2DB;
}
.newton_iter_form__input::placeholder{
    color: #E0E2DB;
    opacity: 50%;
}

.newton_init_form{
    position: absolute;
    top: 500px;
    left: 2%;
    width: 100%;
}
.newton_init_form__label{
    font-size: 13pt;
    color: #E0E2DB;
    top: 0%;
}
.newton_init_form__input{
    background: none;
    border: 2px solid #E0E2DB;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    font-size: 12pt;
    padding: 5px;
    bottom: 100%;
    left: 0%;
    color: #E0E2DB;
}
.newton_init_form__input::placeholder{
    color: #E0E2DB;
    opacity: 50%;
}

.newton_tol_form{
    position: absolute;
    top: 500px;
    left: 2%;
    width: 100%;
}
.newton_tol_form__label{
    font-size: 13pt;
    color: #E0E2DB;
    top: 0%;
}
.newton_tol_form__input{
    background: none;
    border: 2px solid #E0E2DB;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    font-size: 12pt;
    padding: 5px;
    bottom: 100%;
    left: 0%;
    color: #E0E2DB;
}
.newton_tol_form__input::placeholder{
    color: #E0E2DB;
    opacity: 50%;
}
.newton__button{
    position: absolute;
    right: -15px;
    top: 330px;
    height: 30px;
    width: 30%;
    background-color: #E0E2DB;
    border: 2px solid #E0E2DB;
    border-radius: 5px;
    color: #546663;
    font-size: 12pt;
    transition: 1s;
    padding: 5px;
}
.newton__button:hover{
    background-color: #e0e2dbad;
    color: #546663;
    border: 2px solid #546663;
}

.form__dropdown{
    color: #546663;
    background: #e0e2dbad;
    font-size: 12pt;
    padding: 5px;
    border: 2px solid #E0E2DB;
    margin-top: 5px;
    text-align: center;
    width: 40%;
    left: 0%;
    position: absolute;
    left: 2%;
}
.form__button{
    position: absolute;
    right: 0em;
    bottom: -60%;
    height: 35px;
    width: 40%;
    background-color: #546663;
    border: 2px solid #E0E2DB;
    color: #E0E2DB;
    font-size: 12pt;
    transition: 1s;
}
.form__button:hover{
    background-color: #e0e2dbad;
    color: #546663;
    border: 2px solid #546663;
}

.atmosResults{
    position: absolute;
    color: #E0E2DB;
    top: 600px;
    left: 5%;
    font-size: 15pt;
    width: 60%;
}
#unitsList{
    position: absolute;
    right: 0%;
    top: 22.5%;
}
#unitsNums{
    position: absolute;
    right: 30%;
    top: 22.5%;
}

.newtonResults{
    position: absolute;
    color: #E0E2DB;
    top: 630px;
    left: 2%;
    font-size: 15pt;
    width: 60%;
}
#newtonVals{
    position: absolute;
    right: 0%;
    top: 43%;
}


.nacaRow{
    position: absolute;
    width: 90%;
    top: 220px;
    left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.box{
    width: 52px;
    height: 52px;
    background-color: #E0E2DB;
    border: 1px solid #3d4947;
    color: #546663;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.nacaDescription{
    position: absolute;
    top: 430px;
    left: 5%;
}
.nacaDescription li{
    list-style: none;
    padding: 5px;
    color: #E0E2DB;
}


.nacaform{
    position: absolute;
    top: 280px;
    left: 5%;
    width: 90%;
}

.form2__input{
    background: none;
    border: 2px solid #E0E2DB;
    border-radius: 5px;
    height: 20px;
    width: 40%;
    font-size: 12pt;
    padding: 5px;
    bottom: 100%;
    left: 0%;
    color: #E0E2DB;
}
.form2__input::placeholder{
    color: #E0E2DB;
    opacity: 50%;
}
.form2__dropdown{
    color: #546663;
    background: #e0e2dbad;
    font-size: 12pt;
    padding: 5px;
    border: 2px solid #E0E2DB;
    border-radius: 5px;
    text-align: center;
    width: 25%;
    position: absolute;
    top: 0%;
    left: 46%;
}
.form2__button{
    position: absolute;
    right: 0em;
    top: 0%;
    height: 35px;
    width: 25%;
    background-color: #546663;
    border: 2px solid #E0E2DB;
    border-radius: 5px;
    color: #E0E2DB;
    font-size: 12pt;
    transition: 1s;
}
.form2__button:hover{
    background-color: #e0e2dbad;
    color: #546663;
    border: 2px solid #546663;
}


.nacaResults{
    position: absolute;
    top: 380px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}
#nacaResultsValues{
    position: absolute;
    width: 100%;
    color: #e0e2dbad;
    margin-left: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.box1{
    width: 57px;
    height: 40px;
    font-size: 9pt;
    background-color: #e0e2dbad;
    border-left: 1px solid #546663;
    border-right: 1px solid #546663;
    color: #546663;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.Resultsheader{
    position: absolute;
    top: 325px;
    align-items: center;
    color: #e0e2dbad;
    font-size: 15pt;
    margin-left: 1%;
    width: 98%;
}

.newtonGraph{
    position: absolute;
    top: 100px;
    left: 0%;
    margin: 0px;
}

.Engr102 {
    width: 65%;
    top: 400px;
    position: absolute;
    border-bottom: 2px solid #E0E2DB;
    color: #E0E2DB;
    left: 2%;
}
.Engr102 .coursehover102{
    visibility: hidden;
    width: 250px;
    height: 250px;
    left: 101%;
    top: 35%;
    color: #546663;
    background: #E0E2DB;
    position: absolute;
    padding: 5px;
    font-size: 12pt;
}
.Engr102:hover .coursehover102{
    visibility: visible;
}

.Math151 {
    width: 65%;
    top: 450px;
    position: absolute;
    border-bottom: 2px solid #E0E2DB;
    color: #E0E2DB;
    left: 2%;
}
.Math151 .coursehover151{
    visibility: hidden;
    width: 250px;
    height: 250px;
    left: 101%;
    top: 35%;
    color: #546663;
    background: #E0E2DB;
    position: absolute;
    padding: 5px;
    font-size: 12pt;
}
.Math151:hover .coursehover151{
    visibility: visible;
}

.Math152 {
    width: 65%;
    top: 450px;
    position: absolute;
    border-bottom: 2px solid #E0E2DB;
    color: #E0E2DB;
    left: 2%;
}
.Math152 .coursehover152{
    visibility: hidden;
    width: 300px;
    height: 100px;
    left: 101%;
    top: 35%;
    color: #546663;
    background: #E0E2DB;
    position: absolute;
    padding: 5px;
    font-size: 12pt;
}
.Math152:hover .coursehover152{
    visibility: visible;
}

.Aero201 {
    width: 65%;
    top: 500px;
    position: absolute;
    border-bottom: 2px solid #E0E2DB;
    color: #E0E2DB;
    left: 2%;
}
.Aero201 .coursehover201{
    visibility: hidden;
    width: 300px;
    height: 100px;
    left: 101%;
    top: 35%;
    color: #546663;
    background: #E0E2DB;
    position: absolute;
    padding: 5px;
    font-size: 12pt;
}
.Aero201:hover .coursehover201{
    visibility: visible;
}

.Aero211{
    width: 65%;
    top: 550px;
    position: absolute;
    border-bottom: 2px solid #E0E2DB;
    color: #E0E2DB;
    left: 2%;
}
.Aero211 .coursehover211{
    visibility: hidden;
    width: 300px;
    height: 100px;
    left: 101%;
    top: 35%;
    color: #546663;
    background: #E0E2DB;
    position: absolute;
    padding: 5px;
    font-size: 12pt;
}
.Aero211:hover .coursehover211{
    visibility: visible;
}
