<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timothy Bland - Classes</title>
    <link  rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <ul>
                <li><a style="float: left;" href="/">Home</a></li>
                <li><a style="float: left;" class = "active" href="/classes">Classes</a></li>
                <li><a style="float: left;" href="#projects">Projects</a></li>
                <li><a style="float: left;" href="#resume">Resume</a></li>
                <li><a style="float: right;" href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>

    <header id=title>
        <h1 style="color: #E0E2DB; font-size: 50pt;" position=absolute>Classes</h1>
        <hr size="5px" width="100%" color="#E0E2DB">  
    </header>
    <div id="summary3">
        <p>As of now I have completed 114 credit hours in my college career and I always wanted to have a little insight into what I would be getting into before the start of every semester. My goal is to do that for others with classes I have taken in the past as well as pass on some of the notes that I have made. Below I will list the classes I find need these such things and as such not all 114 credit hours will be covered. That would be insane. You can hover over each class to see a brief description and click to see a more detailed description with attached notes. (Some classes have more notes than others.)</p>
        <br><br>
        <p>I have also listed the semester I took it and what grade I recieved.</p>
    </div>


    <div class="Engr102">
        <p style="font-size: 15pt;"><b>Engr 102</b></p>
        <div>
            <div style="font-size: 8pt; float: left;">
                Spring Semester 2019 - Engineering Lab I Computation
            </div>
            <div style="font-size: 8pt; float: right;">
                Grade Recieved: <b>A</b>
            </div>
        </div>
        <span class="coursehover102">ENGR 102 <hr size="2px" width="100%" color="#546663"> <br><br> Teaches basics of engineering computation. Emphasis is based on general programming knowledge as in top-down versus bottom-up design. A goal in placed on mastering if statements as well as for/while loops with a brief introduction to function based programming. </span>
    </div>

    <div class="Math151">
        <p style="font-size: 15pt;"><b>Math 151</b></p>
        <div>
            <div style="font-size: 8pt; float: left;">
                Spring Semester 2020 - Engineering Math I
            </div>
            <div style="font-size: 8pt; float: right;">
                Grade Recieved: <b>B</b>
            </div>
        </div>
        <span class="coursehover151">MATH 151 <hr size="2px" width="100%" color="#546663"> <br><br> Introduces the fundamentals of calculus which could be considered along with physics 1, the basis of your engineering degree. Leaving this course you should have a good grasp of derivatives ,(not partials yet), as well as limits, L'H&#244;pital's rule, and basic single integrals. </span>
    </div>

    <!-- <div class="Math152">
        <p style="font-size: 15pt;"><b>Math 152</b></p>
        <div>
            <div style="font-size: 8pt; float: left;">
                Fall Semester 2020 - Engineering Math II
            </div>
            <div style="font-size: 8pt; float: right;">
                Grade Recieved: <b>A</b>
            </div>
        </div>
        <span class="coursehover152">test hover text</span>
    </div>

    <div class="Aero201">
        <p style="font-size: 15pt;"><b>Aero 201</b></p>
        <div>
            <div style="font-size: 8pt; float: left;">
                Spring Semester 2020 - Introdution to Flight
            </div>
            <div style="font-size: 8pt; float: right;">
                Grade Recieved: <b>B</b>
            </div>
        </div>
        <span class="coursehover201">test hover text</span>
    </div>

    <div class="Aero211">
        <p style="font-size: 15pt;"><b>Aero 211</b></p>
        <div>
            <div style="font-size: 8pt; float: left;">
                Spring Semester 2020 - Aerospace Engineering Mechanics
            </div>
            <div style="font-size: 8pt; float: right;">
                Grade Recieved: <b>A</b>
            </div>
        </div>
        <span class="coursehover211">test hover text</span>
    </div> -->


</body>
</html>