<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timothy Bland - Tamu Aero '22</title>
    <link  rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<style>
</style>
<body>
    <div class="banner">
        <div class="navbar">
            <ul>
                <li><a style="float: left;" class = "active" href="/index">Home</a></li>
                <li><a style="float: left;" href="/classes">Classes</a></li>
                <li><a style="float: left;" href="#projects">Projects</a></li>
                <li><a style="float: left;" href="#resume">Resume</a></li>
                <li><a style="float: right;" href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>

    <div class="buttonGridVImages">
        <img src="{{url_for('static',filename = 'images/atmosphere.jpeg')}}">
        <img src="{{url_for('static',filename = 'images/naca.jpeg')}}">
    </div>
    <div class="buttonGridV">
        <a style="text-decoration: none;" href="/stanAtmos"><button class="button standardAtmosButton" >Standard Atmosphere (ICAA) Tables</button></a>
        <a style="text-decoration: none;" href="/naca1135"><button class="button NACA1135button">NACA 1135 Tables</button></a>
    </div>
    <div class="buttonGridH">
        <a style="text-decoration: none;" href="#classNotes"><button class="button classNotesbutton" disabled="disabled">Class Notes</button></a>
        <a style="text-decoration: none;" href="#resume"><button class="buton resumebutton" disabled="disabled">Resume / CV</button></a>
        <a style="text-decoration: none;" href="#Current Project"><button class="button currentProjectbutton" disabled="disabled">Current Project</button></a>    
    </div>


    <header id="title">
        <h1 style="color: #E0E2DB; font-size: 50pt;" position=absolute>Howdy!</h1>
        <p style="color: #E0E2DB; font-size: 15pt;" position=absolute>Welcome to my first personal webiste.</p>
        <hr size="5px" width="100%" color="#E0E2DB">  
    </header>
    <div id="summary1">
        <p style="color: #E0E2DB;">My name is Timothy Bland and welcome to my first website! I am currently enrolled as a senior Aerospace Engineering major at Texas A&M University class of 2022, WHOOP! Knowing that you may wonder why an aero major built a website, well I believed that this was 
            the perfect opportunity to now only show off accomplishments I am proud of but to also use this medium to help my fellow classmates by providing my own personal study material and class notes free of charge. These are personal notes that I have crafted from how I viewed the course as I tried not to use to much information directly from lectures and textbooks. References are given when needed though.<br><br> I wish this sort of thing would have been availible to me in my earlier 
            undergraduate years as study material given by classes can vary in its dependency. I should also give a disclaimer that not all things within these notes will be 100% correct of course I am not perfect but I do give the grade I recieved in each class as somthing to judge. <br><br>I also 
            plan to use this website to show personal projects that I have created that I believe show my passion for this discipline and may help in the understanging of more complex topics within the undergratuate aerospace degree plan. I have a few semesters of tutoring experience and will also use 
            this website to handle new mentees and material covered in such meetings.</p>
        <br><br>
        <h1 style="color: #E0E2DB;"> About me</h1>
        <hr size="2px" width="100%" color="#E0E2DB">  
        <p style="color: #E0E2DB; margin-top: 5px;">As I mentioned I am a senior Aero Engineering major at A&M. So far I feel as if the classes I get the most out of are my dynamics courses. These include topics such as stability controls, rotation kinematics, 3D rigid body dynamics, and nonlinear flight dynamics.
        I believe this is what I would like to specialize in by the time I finish my undergrad. As of now I still plan on attending grad-school as well but no word yet on if that will be in aerospace.</p>
        <br>
        <p style="color: #E0E2DB;"> I grew up in a small town in east texas... </p>
    </div>
</body>
</html>