<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timothy Bland - Tamu Aero '22</title>
    <link  rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<style>
</style>
<body>
    <div class="banner">
        <div class="navbar">
            <ul>
                <li><a style="float: left;" href="/">Home</a></li>
                <li><a style="float: left;" href="/classes">Classes</a></li>
                <li><a style="float: left;" href="/projects">Projects</a></li>
                <li><a style="float: left;" class = "active" href="#resume">Resume</a></li>
                <li><a style="float: right;" href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
    <header id="resume_title">
        <h1 style="color: #E0E2DB; font-size: 30pt;" position=absolute>Timothy Jackson Bland Resume</h1>
        <hr size="5px" width="100%" color="#E0E2DB">  
    </header>
    <div id = "resume_canv">
        <p>Timothy Bland</p>
    </div>
</body>
</html>