<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timothy Bland - Tamu Aero '22</title>
    <link  rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<style>
</style>
<body>
    <div class="banner">
        <div class="navbar">
            <ul>
                <li><a style="float: left;" href="/">Home</a></li>
                <li><a style="float: left;" href="/classes">Classes</a></li>
                <li><a style="float: left;" class = "active" href="#projects">Projects</a></li>
                <li><a style="float: left;" href="#resume">Resume</a></li>
                <li><a style="float: right;" href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>

    <header id="title">
        <h1 style="color: #E0E2DB; font-size: 30pt;" position=absolute>NACA 1135</h1>
        <hr size="5px" width="100%" color="#E0E2DB">  
    </header>
    <div id="summary2">
        <p>
            Used daily in AERO 303 here at A&M this document now dates over half a century old and I believe this helps to show the strength of the formuluations used and provides a look into why this class is so useful. Especially in todays aerospace industries focus on supersonic and hypersonic flight. To use enter a single known value and the closest value to the fourth signifcant figure will be chosen and all other values returned.
        </p>
    </div>
    <div class="nacaRow">
        <div class="box"> M1    </div>
        <div class="box"> p/pt  </div>
        <div class="box"> &rho;/&rho;t </div>
        <div class="box"> T/Tt  </div>
        <div class="box"> &beta;</div>
        <div class="box"> q/pt  </div>
        <div class="box"> A/A*  </div>
        <div class="box"> V/a*  </div>
        <div class="box"> &nu;  </div>
        <div class="box"> &mu;  </div>
        <div class="box"> M2    </div>
        <div class="box"> p2/p1 </div>
        <div class="box"> &rho; </div>
        <div class="box"> T2/T1 </div>
        <div class="box"> pt2/pt1</div>
        <div class="box"> p1/pt2</div>
    </div>
    <div class="nacaDescription">
        <p style="color: #E0E2DB;"><b>Below are the gereral decriptions of the different NACA 1135 columns.</b></p>
        <hr size="1px" color="#E0E2DB">
        <ul>
            <li>  M1 &emsp; - &emsp;local mach number/upstream mach number</li>
            <li>  p/pt &emsp; - &emsp;static to total pressure ratio</li>
            <li>  &rho;/&rho;t &emsp; - &emsp;static to total density ratio</li>
            <li>  T/Tt &emsp; - &emsp;static to total temperature ratio</li>
            <li>  &beta; &emsp; - &emsp; the square root of M squared-1, <b>NOT</b> related to &delta;-&beta;-mach</li>
            <li>  q/pt &emsp; - &emsp; ratio of dynamic pressure to total pressure</li>
            <li>  A/A* &emsp; - &emsp; ratio of local cross-sectional area to choked flow cross sectional area</li>
            <li>  V/a* &emsp; - &emsp; local speed to speed of sound ratio</li>
            <li>  &nu; &emsp; - &emsp; Prandtl-Meyer angle, given in degrees</li>
            <li>  &mu; &emsp; - &emsp; mach angle</li>
            <li>  M2 &emsp; - &emsp; mach number downstream of <b>NORMAL</b> shock, (across oblique shocks use M1sin(&beta;))</li>
            <li>  p2/p1 &emsp; - &emsp; ratio of static pressures across normal shock</li>
            <li>  &rho; &emsp; - &emsp; ratio of static density across normal shock</li>
            <li>  T2/T1 &emsp; - &emsp; ratio of static temperature across normal shock</li>
            <li>  pt2/pt1 &emsp; - &emsp; total pressure ratio across normal shock</li>
            <li>  p1/pt2 &emsp; - &emsp; ratio of static pressure upstream to total downstream pressure</li>
        </ul>
    </div>

    <form action="#" method="post" class="nacaform">
        <input type="text" class="form2__input" name="columnValue" placeholder="Enter Columns Numerical value">
        <select name="column" class="form2__dropdown">
            <option value="c1">M1    </option>
            <option value="c2">p/pt  </option>
            <option value="c3">&rho; </option>
            <option value="c4">T/Tt  </option>
            <option value="c5">&beta;</option>
            <option value="c6">q/pt  </option>
            <option value="c7a">A/A* Table 1 </option>
            <option value="c7b">A/A* Table 2 </option>
            <option value="c8">V/a*  </option>
            <option value="c9">&nu;  </option>
            <option value="c10">&mu;  </option>
            <option value="c11">M2    </option>
            <option value="c12">p2/p1 </option>
            <option value="c13">&rho;2/&rho;1 </option>
            <option value="c14">T2/T1 </option>
            <option value="c15">pt2/pt1</option>
            <option value="c16">p1/pt2</option>
        </select>
        <button type="submit" class="form2__button">Calculate</button>
    </form>

    <div class="Resultsheader"><h3>Results</h3><hr size="3px" width="100%" color="#E0E2DB"></div>
    <div class="nacaResults">
    {% if objects %}
        {% for val in range(1) %}
            <div style="list-style: none;" id="nacaResultsValues">
                <div class="box1"> M1 <br> {{objects[0]}}    </div>
                <div class="box1"> p/pt <br> {{objects[1]}}  </div>
                <div class="box1"> &rho;/&rho;t <br> {{objects[2]}} </div>
                <div class="box1"> T/Tt <br> {{objects[3]}}  </div>
                <div class="box1"> &beta; <br> {{objects[4]}}</div>
                <div class="box1"> q/pt <br> {{objects[5]}}  </div>
                <div class="box1"> A/A* <br>  {{objects[6]}} </div>
                <div class="box1"> V/a* <br> {{objects[7]}}  </div>
                <div class="box1"> &nu; <br> {{objects[8]}}  </div>
                <div class="box1"> &mu; <br> {{objects[9]}}  </div>
                <div class="box1"> M2 <br>   {{objects[10]}}  </div>
                <div class="box1"> p2/p1 <br> {{objects[11]}} </div>
                <div class="box1"> &rho; <br> {{objects[12]}} </div>
                <div class="box1"> T2/T1 <br> {{objects[13]}} </div>
                <div class="box1"> pt2/pt1 <br> {{objects[14]}}</div>
                <div class="box1"> p1/pt2 <br>{{objects[15]}} </div>
            </div>
        {% endfor %}
    {% endif %}
    </div>

</body>
</html>
