<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timothy Bland - Tamu Aero '22</title>
    <link  rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<style>
</style>
<body>
    <div class="banner">
        <div class="navbar">
            <ul>
                <li><a style="float: left;" href="/">Home</a></li>
                <li><a style="float: left;" href="/classes">Classes</a></li>
                <li><a style="float: left;" class = "active" href="#projects">Projects</a></li>
                <li><a style="float: left;" href="/resume">Resume</a></li>
                <li><a style="float: right;" href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>

    <div class="buttonGridVImages">
        <img src="{{url_for('static',filename = 'images/atmosphere.jpeg')}}">
        <img src="{{url_for('static',filename = 'images/naca.jpeg')}}">
        <img src="{{url_for('static',filename = 'images/newton2.jpg')}}">
    </div>
    <div class="buttonGridV">
        <a style="text-decoration: none;" href="/stanAtmos"><button class="button standardAtmosButton" >Standard Atmosphere (ICAA) Tables</button></a>
        <a style="text-decoration: none;" href="/naca1135"><button class="button NACA1135button">NACA 1135 Tables</button></a>
        <a style="text-decoration: none;" href="/newton"><button class="button NEWTONMETHODbutton">Newton Method Calculator</button></a>
    </div>
    <div class="buttonGridH">
        <a style="text-decoration: none;" href="#classNotes"><button class="button classNotesbutton" disabled="disabled">Capstone Project</button></a>
        <a style="text-decoration: none;" href="#resume"><button class="buton resumebutton" disabled="disabled">Resume / CV</button></a>
        <a style="text-decoration: none;" href="#Current Project"><button class="button currentProjectbutton" disabled="disabled">Current Project</button></a>    
    </div>


    <header id="title">
        <h1 style="color: #E0E2DB; font-size: 30pt;" position=absolute>Newton Method Calculator</h1>
        <hr size="5px" width="100%" color="#E0E2DB">  
    </header>
    <div id="newtonsummary">
        <p>
            Newton's method is an algorithm with the goal of finding roots of an equation by finding better and better values each iteration.
        </p>
        <p>&nbsp;</p>
        <p>
            How it works, below there are a few input lines. Input lines that are mandatory have a (*) next to them and the others have preset values that will be overwritten if given.
        </p>
    </div>

    <form action="#" method="post" class="newton_form">
        <label for="newton_equation" class="newton_form__label">Enter equation here (*)</label>
        <input type="text" class="newton_form__input" name="newton_equation" placeholder="Ex - sin(x)^2+2*x">

        <label for="newton_equation" class="newton_var_form__label">Which variable is being iterated for? (*)</label>
        <input type="text" class="newton_var_form__input" name="newton_equation_variable" placeholder="x,y,z,t,etc...">  

        <label for="newton_equation" class="newton_init_form__label">Initial Guess (*)</label>
        <input type="text" class="newton_init_form__input" name="newton_equation_init" placeholder="Enter integer or float value">

        <label for="newton_equation" class="newton_tol_form__label">Tolerance Value (Enter in 10E-# form)</label>
        <input type="text" class="newton_tol_form__input" name="newton_equation_tol" placeholder="Tolerance is preset to 10E-6 if not specified">      
        
        <label for="newton_equation" class="newton_iter_form__label">Max number of iterations</label>
        <input type="text" class="newton_iter_form__input" name="newton_equation_iter" placeholder="Max iterations is preset to 20, if 20 is reached I suggest providing a better initial guess">   
        <button type="submit" class="newton__button">Run</button>
    </form>

    <div class="newtonResults">
        {% if objects %}
            {% for val in range(1) %}
                <h3>Results</h3>
                <hr size="5px" width="100%" color="#E0E2DB"> 
                <ul style="list-style: none; left: 0%;">
                    <li>Final Value</li>
                    <li>Number of iterations</li>
                <ul style="list-style: none;" id="newtonVals">
                    <li>{{objects[0]}}</li>
                    <li>{{objects[1]}}</li>
                </ul>
            {% endfor %}
            <div class="newtonGraph">
                <img src="{{url_for('static',filename = 'images/newton_plot.jpeg')}}">
            </div>
        {% endif %}
        </div>
</body>
</html>