<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timothy Bland - Standard Atmosphere</title>
    <link  rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <ul>
                <li><a style="float: left;" href="/">Home</a></li>
                <li><a style="float: left;" href="/classes">Classes</a></li>
                <li><a style="float: left;" class = "active" href="#projects">Projects</a></li>
                <li><a style="float: left;" href="#resume">Resume</a></li>
                <li><a style="float: right;" href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>

    <header id="title">
        <h1 style="color: #E0E2DB; font-size: 30pt;" position=absolute>Standard Atmosphere Table</h1>
        <hr size="5px" width="100%" color="#E0E2DB">  
    </header>

    <div id="summary2">
        <p>
            What it is and how it works.
            <br><br>
            These tables are extensive lists of "standard" atmospheric properties starting at sea-level and ranging to the middle of the mesophere at around 60 km, these properties are determined by the equations to the right as well as some other parameters. The properties and units associated with them are listed below.
        </p>
    </div>
    <div id="list1">
        <h3>Metric / Engineering</h3>
        <hr>
        <ul>
            <li>Geopotential Height</li>
            <li>Pressure</li>
            <li>Temerature</li>
            <li>Density</li>
            <li>Speed of sound</li>
        </ul>
    </div>
    <div id="list1units">
        <ul>
            <li>[m]</li>
            <li>[Pa]</li>
            <li>[K]</li>
            <li>[kg/m^3]</li>
            <li>[m/s]</li>
        </ul>
    </div>
    <div id="list2units">
        <ul>
            <li>[ft]</li>
            <li>[ft/lb^2]</li>
            <li>[R]</li>
            <li>[slugs/ft^3]</li>
            <li>[ft/s]</li>
        </ul>
    </div>
    <div id="instructions1">
        <p>To use, enter the height in either meters or feet and use the dropdown to specify.</p>
    </div>
    <form action="#" method="post" class="form">
        <label for="height" class="form__label">Enter height here</label>
        <input type="text" class="form__input" name="heightValue" placeholder="Ex - 15000">
        <select name="units" class="form__dropdown">
            <option value="metric">Metric [m]</option>
            <option value="eng">Engineering [ft]</option>
        </select>
        <button type="submit" class="form__button">Calculate</button>
    </form>

    <div class="atmosResults">
    {% if objects %}
        {% for val in range(1) %}
            <h3>Results</h3>
            <hr size="5px" width="100%" color="#E0E2DB"> 
            <ul style="list-style: none; left: 0%;">
                <li>Geopotential height</li>
                <li>Pressure</li>
                <li>Temperature</li>
                <li>Density</li>
                <li>Speed of sound</li>
            </ul>
            <ul style="list-style: none;" id="unitsNums">
                <li>{{objects[0]}}</li>
                <li>{{objects[1]}}</li>
                <li>{{objects[2]}}</li>
                <li>{{objects[3]}}</li>
                <li>{{objects[4]}}</li>
            </ul>
            <ul style="list-style: none;" id="unitsList">
                <li>{{objects[-1][0]}}</li>
                <li>{{objects[-1][1]}}</li>
                <li>{{objects[-1][2]}}</li>
                <li>{{objects[-1][3]}}</li>
                <li>{{objects[-1][4]}}</li>
            </ul>
        {% endfor %}
    {% endif %}
    </div>



</body>
</html>